<div class="container-home">
    <%= render "shared/navbar"%>
  
        <div class="contact-form row" >
            <div class="form-box col-11 col-lg-6">
                <h1><span>GET</span> IN TOUCH</h1>
               <p>You can send me a message via the form below.</p>
               <br>
                    <%= form_for @contact, remote: true do |f| %>
                        <%= f.label :name %>
                        <%= f.text_field  :name, required: true, class: "contact-form-text-area" %>

                        <%= f.label :email %>
                        <%= f.text_field :email, required: true, class: "contact-form-text-area" %>

                        <%= f.label :message %>
                        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area", placeholder: "Send me a message", style:"height:130px;"%></br>

                        <%= f.submit 'Send', class: 'btn btn-primary' %>
            </div>
                    <% end %>
           
            <div class="col-10 col-lg-6" id="flash-message">
                 <%= render 'flash' %>
            </div>
        </div>
</div>  